#nav * {
	text-align: center;
	color: #3A718F;
	line-height:18px;
	font-size:12px;
	font-weight:normal;
	cursor:pointer;
	text-align:left;
	background:none;
}
#nav { float:left; margin:0;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;}

/************** ALL LEVELS  *************/
#nav li { position:relative; text-align:left;height: 24px;}
#nav li.over { z-index:99; }
#nav li.active { z-index:100; }
#nav a,
#nav a:hover { display:block; text-decoration:none; }
#nav span { display:block; }
#nav li a{ padding-left:8px;padding-right:8px;}



/************ 1ST LEVEL  ***************/
#nav li { float:left;}
#nav li.active { margin-left:-1px; }
#nav li.active em { display:block; position:absolute; top:0; right:-1px; width:3px;}
#nav a { float:left; }
#nav li.over a {background-color:#fff; border-radius: 4px;}
#nav li.over{

}



/************ 1ST LEVEL RESET ************/
#nav ul li,
#nav ul li.active { list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0; float:none; height:auto; background:none; margin:0; }
#nav ul a,
#nav ul a:hover { float:none; padding:0; line-height:1.3em; }
#nav ul li.over a,
#nav ul li.over a:hover,
#nav ul a,
#nav li.active li { font-weight:normal; }



/************ 2ND LEVEL ************/
#nav ul { list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0 0 0px 0; position:absolute; width:159px; top:22px; left:-10000px;  }
#nav ul ul  { list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0px 0 0 0; border-top:0; left:100px; top:13px; }

/* Show menu */
#nav li.over ul { left:-1px; }
#nav li.over ul ul { left:-10000px; }
#nav li.over ul li.over ul { left:100px; }

#nav ul li.over { background:url('menu_item_hover_bg.png') no-repeat left top;}

#nav ul li {  background: url(menu_item_bg.png) no-repeat left top;
	width: 159px;
	margin: 0 0 2px 0;
	line-height: 28px;
	height: 20px;}
#nav ul li.parent li.parent a {background:none;}
#nav ul li a:hover { background:#d0dfe2; }
#nav li.over ul a,
#nav ul li.active a,
#nav ul li a,
#nav ul li a:hover { color:#2f2f2f; }
#nav ul span,
#nav ul li.last li span { padding:0px 10px; repeat-x : 100%; }
#nav ul li.last span,
#nav ul li.last li.last span { background:none; }
#nav ul li.last { padding-bottom:3px; }

#nav ul li.parent a,
#nav ul li.parent li.parent a {background:url(nav2_parent_arrow.gif) no-repeat 100% 85% !important;}
#nav ul li a,
#nav ul li.parent li a,
#nav ul li.parent li.parent li a { background:none !important;}

/************ 3RD+ LEVEL ************/
/* Cursors */
#nav li.parent a,
#nav li.parent li.parent a,
#nav li.parent li.parent li.parent a { cursor:default; }

#nav li.parent li a,
#nav li.parent li.parent li a,
#nav li.parent li.parent li.parent li a { cursor:pointer; }

/* Show menu */
#nav ul ul ul { left:-10000px; list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0; }
#nav li.over ul li.over ul ul { left:-10000px;}
#nav li.over ul li.over ul li.over ul { left:100px; }

#nav-bar:after, #nav-container:after { content:"."; display:block; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }


#nav li.last_img {background:url('menu_arrow.png') no-repeat 10px 0px}
#nav li.img_over {background:url('menu_arrow_hover.png') no-repeat 10px 0px}
#nav li.img_over ul { left:-100px;top:25px}